<FilesMatch "\.php$">
    Order Deny,Allow
    Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Jeśli żądany plik lub katalog nie istnieje
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Przekieruj cały ruch do index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
